# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: deploy Clouni application

on:
  push:
    branches: [ 'main' ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.6
      uses: actions/setup-python@v3
      with:
        python-version: "3.6"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Deploy
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PASSWORD }}
      run: |
        python -m pip install --upgrade build
        python -m build
        python -m pip install --upgrade twine
        python -m twine upload --repository testpypi dist/*
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: clouni
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: clouni/clouni-provider-tool:latest